<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByb-e3qrGOEZgXaFitxW9sA_Vamin2VZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>350980899817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hussain.beepay</string>
	<key>PROJECT_ID</key>
	<string>beepay-621ac</string>
	<key>STORAGE_BUCKET</key>
	<string>beepay-621ac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350980899817:ios:9b5483e44f84476fe74178</string>
</dict>
</plist>